.footer-container {
  background-color: #111111;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #BBBBBB;
}
